body {
    background: #c7b39b url("/img/list_todo.jpg") no-repeat;
    background-size: 100%;
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em green; /* Параметры тени */
    color: white; /* Белый цвет текста */
    font-size: 2em; /* Размер надписи */
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2FCC9A;
    color: white;
}


.container {
    margin-top: 50px;
    width: 25%!important;
}

.form {
    background: #2FCC9A;
    border: 2px solid #228e6c;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.form_registration {
    max-width: 500px;
    margin-top: 10px;
    width: 78%!important;
    background: #2FCC9A;
    border: 2px solid #228e6c;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.form_authorization {
    max-width: 500px;
    margin-top: 10px;
    width: 87%!important;
    background: #2FCC9A;
    border: 2px solid #228e6c;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

h4 {
    max-width: 500px;
    margin-top: 10px;
    width: 100%!important;
    background: #2FCC9A;
    border: 2px solid #228e6c;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

#task {
    width: 60%;
    float: left;
    margin-right: 5%;
}

ul {
    padding: 0 10px!important;
}

ul li {
    list-style: none;
    padding: 15px;
    margin-bottom: 10px;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;
}

ul li:hover {
    background: #e5e5e5;
}

ul li button {
    border: 0;
    padding: 5px 15px;
    color: white;
    font-size: 13px;
    background: #db5757;
    position: relative;
    left: 130px;
    border-radius: 5px;
}

ul li button:hover {
    background: #a04141;
}

